<div class="mat-elevation-z8 table-parent">
    <table [dataSource]="tables" mat-table>
        <!-- TableNr Column -->
        <ng-container matColumnDef="tableNr">
            <th mat-header-cell *matHeaderCellDef>Table Nr</th>
            <td mat-cell *matCellDef="let tables">Table {{tables.idTableNr}}</td>
        </ng-container>

        <!-- Places Column -->
        <ng-container matColumnDef="places">
            <th mat-header-cell *matHeaderCellDef>Places</th>
            <td mat-cell *matCellDef="let tables">
                {{tables.dtPlaces}} Places
            </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let tables">
                <span style="color: #ff4081">{{tables.dtIsOccupied === 1 ? "Occupied" : tables.dtReservedName !== "" ? "Rv. " + tables.dtReservedName : ""}}</span>
                <i class="material-icons" (click)="openDeleteModal(tables.idTableNr)">delete</i>
                <i class="material-icons" (click)="modifyTable(tables.idTableNr, tables.dtPlaces)">edit</i>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <button (click)="openModal()" mat-button class="pink"><i class="material-icons">add</i></button>
</div>

<div class="user-modal" [ngClass]="modalStatus ? 'user-modal-open' : ''">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{mode}} Table</mat-card-title>
        </mat-card-header>
        <i class="material-icons" (click)="modalStatus = false">close</i>

        <mat-card-content>
            <form class="form" [formGroup]="addTable" (ngSubmit)="(!addTable.valid)"
                  novalidate (keydown.enter)="performRequest()">

                <mat-form-field class="full-width">
                    <mat-label>Table Nr</mat-label>
                    <input formControlName="tableNr" matInput type="number"
                           placeholder="Table Nr" name="tableNr"/>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Places</mat-label>
                    <input formControlName="places" matInput type="number"
                           placeholder="Places" name="places"/>
                </mat-form-field>
            </form>

            <!-- Error and Success messages -->
            <span class="errorMessage">{{ errorMessage }}</span>

            <mat-card-actions>
                <!-- Update BUTTON -->
                <button mat-raised-button class="pink" (click)="performRequest()"
                        [disabled]="!addTable.valid">{{mode}}
                </button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</div>

<div class="user-modal" [ngClass]="deleteConfirm ? 'user-modal-open' : ''">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Delete Table</mat-card-title>
        </mat-card-header>
        Do you want to delete the Table "{{currentTable}}"?<br>
        <button mat-button class="pink" (click)="deleteTable()">Yes</button><button mat-button class="transparent" (click)="deleteConfirm = false">No</button>
    </mat-card>
</div>
