.table-parent {
  width: 80%;
  margin: 10vh auto;
  position: relative;

  .mat-form-field {
    background-color: white;
    padding: 5px 40px 0;
    margin-bottom: 10px;
  }

  table {
    width: 100%;

    .material-icons {
      float: right;
      margin-left: 15px;
    }
  }

  button {
    position: absolute;
    right: 0;
    transform: translateY(100%);
    bottom: -10px;
    .material-icons {
      color: white !important;
    }
  }
}

.material-icons {
  color: #ff4081;
  cursor: pointer;
}

.user-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(black, .7);
  display: none;

  img {
    height: 100px;
  }

  .material-icons {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
  }

  mat-card {
    top: 50%;
    left: 50%;
    width: 40%;
    transform: translateY(-50%) translateX(-50%);
    padding: 50px 100px;

    .full-width {
      width: 100%;
    }

    .mat-card-header-text {
      margin: 0;
    }
  }
}

.user-modal-open {
  display: block;
}
