<div class="mat-elevation-z8 table-parent">
    <mat-form-field class="full-width">
        <input matInput placeholder="Search" type="text" (keyup)="applyFilter($event.target.value)">
    </mat-form-field>

    <table [dataSource]="products" mat-table>

        <ng-container matColumnDef="productId">
            <th mat-header-cell *matHeaderCellDef>Product ID</th>
            <td mat-cell *matCellDef="let products">#{{products.idProduct}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let products">
                {{products.dtName}}
            </td>
        </ng-container>

        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Category</th>
            <td mat-cell *matCellDef="let products">
                {{products.dtCategory}}
            </td>
        </ng-container>

        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let products">
                <span style="color: #ff4081">{{products.dtValue.toFixed(2)}}€</span>
                <i class="material-icons" (click)="openDeleteModal(products.idProduct)">delete</i>
                <i class="material-icons" (click)="modifyProduct(products.idProduct, products.dtName, products.dtCategory, products.dtValue, products.dtImage)">edit</i>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <button (click)="openModal()" mat-button class="pink"><i class="material-icons">add</i></button>
</div>

<div class="user-modal" [ngClass]="modalStatus ? 'user-modal-open' : ''">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{mode}} Product</mat-card-title>
        </mat-card-header>
        <i class="material-icons" (click)="modalStatus = false">close</i>

        <mat-card-content>
            <form class="form" [formGroup]="addProduct" (ngSubmit)="(!addProduct.valid)"
                  novalidate (keydown.enter)="performRequest()">

                <mat-form-field class="full-width">
                    <mat-label>Name</mat-label>
                    <input formControlName="name" matInput type="text"
                           placeholder="Name" name="productName"/>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category" placeholder="Category" name="category">
                        <mat-option value="Appetizers">
                            Appetizers
                        </mat-option>
                        <mat-option value="Main Dishes">
                            Main Dishes
                        </mat-option>
                        <mat-option value="Menus">
                            Menus
                        </mat-option>
                        <mat-option value="Desserts">
                            Desserts
                        </mat-option>
                        <mat-option value="Cold Drinks">
                            Cold Drinks
                        </mat-option>
                        <mat-option value="	Hot Drinks">
                            Hot Drinks
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Price</mat-label>
                    <input formControlName="value" matInput type="number"
                           placeholder="Price" name="price"/>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Image Url</mat-label>
                    <input formControlName="image" matInput type="text"
                           placeholder="Image Url" name="image"/>
                </mat-form-field>
                <img *ngIf="addProduct.get('image').value !== ''" [src]="addProduct.get('image').value" alt="img">
            </form>


<span class="errorMessage">{{ errorMessage }}</span>

<mat-card-actions>

    <button mat-raised-button class="pink" (click)="performRequest()"
            [disabled]="!addProduct.valid">{{mode}}
    </button>
</mat-card-actions>
</mat-card-content>
</mat-card>
</div>

<div class="user-modal" [ngClass]="deleteConfirm ? 'user-modal-open' : ''">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Delete Product</mat-card-title>
        </mat-card-header>
        Do you want to delete the Product with the ID "#{{currentProduct}}"?<br>
        <button mat-button class="pink" (click)="deleteProduct()">Yes</button><button mat-button class="transparent" (click)="deleteConfirm = false">No</button>
    </mat-card>
</div>
