<div class="mat-elevation-z8 table-parent">
    <table [dataSource]="bills" mat-table>

        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Bill ID</th>
            <td mat-cell *matCellDef="let bills">
                #{{bills.idBill}}
            </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let bills">
                {{bills.qcpDate}}
            </td>
        </ng-container>

        <!-- TableNr Column -->
        <ng-container matColumnDef="tableNr">
            <th mat-header-cell *matHeaderCellDef>Table Nr</th>
            <td mat-cell *matCellDef="let bills">Table {{bills.fiTable}}</td>
        </ng-container>

        <!-- Total Column -->
        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef>Total</th>
            <td mat-cell *matCellDef="let bills">
                <span style="color: #ff4081">{{bills.qcpTotal.toFixed(2)}}€</span>
                <i class="material-icons" [routerLink]="['/bill-products/' + bills.idBill]">remove_red_eye</i>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
