.table-parent {
  width: 80%;
  margin: 10vh auto;
  position: relative;

  table {
    width: 100%;

    .material-icons {
      float: right;
      margin-left: 15px;
    }
  }

  button {
    position: absolute;
    right: 0;
    transform: translateY(100%);
    bottom: -10px;
    .material-icons {
      color: white !important;
    }
  }
}

.material-icons {
  color: #ff4081;
  cursor: pointer;

  &:focus{
    outline: 0;
  }
}
