<app-navigation>
    <app-profile-settings *ngIf="profileMode === 'settings'"></app-profile-settings>
    <app-profile-management *ngIf="profileMode === 'management'"></app-profile-management>
</app-navigation>
