<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Update Profile</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form class="form" [formGroup]="updateSettings" (ngSubmit)="(!updateSettings.valid)"
              novalidate (keydown.enter)="update()">

            <!-- Old Password -->
            <mat-form-field class="full-width">
                <mat-label>Old Password</mat-label>
                <input formControlName="oldPassword" matInput type="password"
                       placeholder="Old Password" name="oldPassword"/>
            </mat-form-field>

            <!-- New Password -->
            <mat-form-field class="full-width">
                <mat-label>New Password</mat-label>
                <input formControlName="password" matInput type="password"
                       placeholder="New Password" name="password"/>
            </mat-form-field>

            <!-- Confirm New Password -->
            <mat-form-field class="full-width">
                <mat-label>Confirm Password</mat-label>
                <input formControlName="confirmPassword" type="password" matInput
                       placeholder="Confirm Password" name="confirmPassword"/>
            </mat-form-field>
        </form>

        <!-- Error and Success messages -->
        <span class="errorMessage">{{ errorMessage }}</span>
        <span class="successMessage">{{ successMessage }}</span>
        <span *ngIf="updateSettings.controls['confirmPassword'].hasError('NoPasswordMatch')" class="errorMessage">
            Password don't match.
        </span>

        <mat-card-actions>
            <!-- Update BUTTON -->
            <button mat-raised-button class="pink" (click)="update()"
                    [disabled]="!updateSettings.valid">Update
            </button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
