.table-parent {
  width: 80%;
  margin: 10vh auto;
  position: relative;

  .billHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .mat-form-field {
      background-color: white;
      padding: 5px 40px 0;
    }

    h1 {
      color: white;
      margin: 0;
    }

    span {
      color: white;
    }
  }

  table {
    width: 100%;

    .material-icons {
      float: right;
      margin-left: 15px;
    }
  }

  button {
    position: absolute;
    right: 0;
    transform: translateY(100%);
    bottom: -10px;
    .material-icons {
      color: white !important;
    }
  }
}

.material-icons {
  color: #ff4081;
  cursor: pointer;
}
