<div class="mat-elevation-z8 table-parent">
    <div class="billHeader">
        <mat-form-field class="full-width">
            <input matInput placeholder="Search" type="text" (keyup)="applyFilter($event.target.value)">
        </mat-form-field>

        <div>
            <h1>Bill ID: #{{billId}}</h1>
            <span>Total: {{billTotal.toFixed(2)}}€</span>
        </div>
    </div>

    <table [dataSource]="products" mat-table>

        <ng-container matColumnDef="productId">
            <th mat-header-cell *matHeaderCellDef>Product ID</th>
            <td mat-cell *matCellDef="let products">#{{products.idProduct}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let products">
                {{products.dtName}}
            </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>Quantity</th>
            <td mat-cell *matCellDef="let products">
                {{products.dtQuantity}}
            </td>
        </ng-container>

        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let products">
                <span style="color: #ff4081">{{products.dtValue.toFixed(2)}}€</span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
