<app-navigation>
    <mat-card class="loginCard">
        <mat-card-header class="loginHeader">
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content class="loginContent">
            <form class="loginForm" [formGroup]="loginCred" (keydown.enter)="login()" >
                <mat-form-field class="full-width">
                    <mat-label>Username</mat-label>
                    <input formControlName="username" matInput placeholder="Username" type="username" name="username" required>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" matInput type="password" autocomplete="on" placeholder="Password" name="password" required>
                </mat-form-field>
            </form>
            <span class="errorMessage">{{errorMessage}}</span>
            <mat-card-actions>
                <button mat-raised-button (click)="login()" class="pink">LOGIN</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</app-navigation>
