.loginCard {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 550px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.full-width {
  width: 100%;
}

@media screen and (max-width: 700px) {
  .loginCard {
    top: 100px;
    left: 0;
    transform: none;
    width: 80%;
    padding: 0;
    margin: 0 10% 0 10%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    justify-content: start;
  }
}
