<div class="mat-elevation-z8 table-parent">
    <table [dataSource]="users" mat-table>
        <!-- Id Column -->
        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef>Username</th>
            <td mat-cell *matCellDef="let users">{{users.idUserName}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef>Role</th>
            <td mat-cell *matCellDef="let users">
                {{users.dtRole}}
                <i class="material-icons" (click)="openDeleteModal(users.idUserName)">delete</i>
                <i class="material-icons" (click)="modifyUser(users.idUserName)">edit</i>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <button (click)="openModal()" mat-button class="pink"><i class="material-icons">add</i></button>
</div>

<div class="user-modal" [ngClass]="modalStatus ? 'user-modal-open' : ''">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Add User</mat-card-title>
        </mat-card-header>
        <i class="material-icons" (click)="modalStatus = false">close</i>

        <mat-card-content>
            <form class="form" [formGroup]="addUser" (ngSubmit)="(!addUser.valid)"
                  novalidate (keydown.enter)="add()">

                <!-- Username -->
                <mat-form-field class="full-width">
                    <mat-label>Username</mat-label>
                    <input formControlName="username" matInput type="text"
                           placeholder="Username" name="username"/>
                </mat-form-field>

                <!-- Password -->
                <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" matInput type="password"
                           placeholder="Password" name="password"/>
                </mat-form-field>

                <!-- Confirm New Password -->
                <mat-form-field class="full-width">
                    <mat-label>Confirm Password</mat-label>
                    <input formControlName="confirmPassword" type="password" matInput
                           placeholder="Confirm Password" name="confirmPassword"/>
                </mat-form-field>

                <label>Role</label>
                <mat-radio-group
                        aria-labelledby="example-radio-group-label"
                        class="example-radio-group" name="diet" formControlName="role" required>
                    <br>
                    <mat-radio-button class="example-radio-button" [value]="'user'">
                        User
                    </mat-radio-button>
                    <br>
                    <mat-radio-button class="example-radio-button" [value]="'admin'">
                        Admin
                    </mat-radio-button>
                </mat-radio-group>
            </form>

            <!-- Error and Success messages -->
            <span class="errorMessage">{{ errorMessage }}</span>
            <span class="successMessage">{{ successMessage }}</span>
            <span *ngIf="addUser.controls['confirmPassword'].hasError('NoPassswordMatch')" class="errorMessage">
            Password don't match.
        </span>

            <mat-card-actions>
                <!-- Update BUTTON -->
                <button mat-raised-button class="pink" (click)="add()"
                        [disabled]="!addUser.valid">Add
                </button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</div>

<div class="user-modal" [ngClass]="deleteConfirm ? 'user-modal-open' : ''">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Delete User</mat-card-title>
        </mat-card-header>
        Do you want to delete the user "{{currentUser}}"?<br>
        <button mat-button class="pink" (click)="deleteUser()">Yes</button><button mat-button class="transparent" (click)="deleteConfirm = false">No</button>
    </mat-card>
</div>
