<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Update User "{{username}}"</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="form" [formGroup]="updateUser" (ngSubmit)="(!updateUser.valid)"
              novalidate (keydown.enter)="update()">

            <!-- Password -->
            <mat-form-field class="full-width">
                <mat-label>New Password</mat-label>
                <input formControlName="password" matInput type="password"
                       placeholder="Password" name="password"/>
            </mat-form-field>

            <label>Role</label>
            <mat-radio-group
                    aria-labelledby="example-radio-group-label"
                    class="example-radio-group" name="diet" formControlName="role" required>
                <br>
                <mat-radio-button class="example-radio-button" [value]="'user'">
                    User
                </mat-radio-button>
                <br>
                <mat-radio-button class="example-radio-button" [value]="'admin'">
                    Admin
                </mat-radio-button>
            </mat-radio-group>
        </form>

        <!-- Error and Success messages -->
        <span class="errorMessage">{{ errorMessage }}</span>
        <span class="successMessage">{{ successMessage }}</span>

        <mat-card-actions>
            <!-- Update BUTTON -->
            <button mat-raised-button class="pink" (click)="update()"
                    [disabled]="!updateUser.valid">Update
            </button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
