mat-card.card {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10vh 100px;
}

mat-card-header{
  justify-content: center;
}
mat-card-content {
  width: 100%;
}

.full-width {
  width: 100%;
}

@media screen and (max-width: 700px){
  mat-card.card {
    top: 100px;
    left: 0;
    transform: none;
    width: 80%;
    height: calc(100vh - 120px);
    padding: 0;
    margin: 50px 10% 0 10% !important;
    border: none;
    box-shadow: none;
    background-color: transparent;
    justify-content: start;
  }
  .mat-card-actions {
    margin-bottom: 50px !important;
  }
}
