/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

span.errorMessage {
  color: red;
  font-size: 14px;
}

span.successMessage {
  color: green;
  font-size: 14px;
}

.loadingSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

button.pink {
  background-color: #ff4081;
  color: white;
}

button.transparent {
  background-color: transparent !important;
}
