<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="false" [ngClass]="{hidden: !(isHandset$ | async )===true}"
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="(isHandset$ | async) === false">
        <mat-toolbar>
            <img src="/src/assets/restaubts_white.svg">
        </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item *ngFor="let navItem of navItems" routerLink="{{navItem.path}}">{{navItem.name}}</a>
            <div *ngFor="let dropDown of dropDowns">
                <a mat-list-item [routerLink]="" [matMenuTriggerFor]="userDropDown">
                    <i class="material-icons">{{dropDown.icon}}</i>{{dropDown.name}}<i class="material-icons">arrow_drop_down</i>
                </a>
                <mat-menu #userDropDown="matMenu" yPosition="below">
                    <button class="dropDownItem" *ngFor="let dropDownItem of dropDown.items" routerLink="{{dropDownItem.path}}" mat-menu-item>
                        <i class="material-icons">{{dropDownItem.icon}}</i>{{dropDownItem.name}}
                    </button>
                </mat-menu>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button class="burgerButton"
                    type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    (click)="drawer.toggle()"
                    *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <img src="/assets/restaubts_white.svg">
            <span class="spacer"></span>
            <a *ngFor="let navItem of navItems" routerLink="{{navItem.path}}">
                <i class="material-icons">{{navItem.icon}}</i>{{navItem.name}}
            </a>
            <div class="dropDownNavItem" *ngFor="let dropDown of dropDowns">
                <a [routerLink]="" [matMenuTriggerFor]="userDropDown">
                    <i class="material-icons">{{dropDown.icon}}</i>{{dropDown.name}}<i class="material-icons">arrow_drop_down</i>
                </a>
                <mat-menu #userDropDown="matMenu" yPosition="below">
                    <button class="dropDownItem" *ngFor="let dropDownItem of dropDown.items" routerLink="{{dropDownItem.path}}" mat-menu-item>
                        <i class="material-icons">{{dropDownItem.icon}}</i>{{dropDownItem.name}}
                    </button>
                </mat-menu>
            </div>
        </mat-toolbar>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
